<div class="transition-very-slow-css row text-center">
    <div class="col footer-css">

        <p id="footer-css">SPA desarrollada en Angular por Emanuel Segura (2020)</p>

        <a href="mailto:emanuelsegura.unicen@gmail.com" target="blank">
            <i class="fas fa-envelope item-social"></i>
        </a>
        <a href="https://www.linkedin.com/in/emanuelsegura/" target="blank">
            <i class="fab fa-linkedin item-social"></i>
        </a>
        <a href="https://www.twitter.com/manzaniatico" target="blank">
            <i class="fab fa-twitter item-social"></i>
        </a>

    </div>
</div>