<div class="container mt-5 transition-very-slow-css">
    <p class="contact-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ducimus cumque voluptas quisquam quibusdam eum officiis.</p>
</div>
<form class="contact-flex container mt-5">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Your Message"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-dark contact-flex-child">Submit</button>
</form>