<div class=" container mt-5 transition-very-slow-css">
    <figure>
        <div class="row">
            <div class="col me-img-css">
                <img class="rounded mx-auto d-block img-fluid" src="../../assets/images/me-color.jpg" alt="Emanuel Segura">
            </div>
            <div class="col">
                <p class="me-paragraph-css">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis saepe quibusdam, perspiciatis provident nisi atque? Numquam provident non nisi tempora recusandae iste, asperiores dolore ullam officia velit obcaecati voluptate
                    asperiores dolore ullam officia velit obcaecati voluptate!</p>
                <p class="me-paragraph-css">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis saepe quibusdam, perspiciatis provident nisi atque? Numquam provident non nisi tempora recusandae iste, asperiores dolore ullam officia velit obcaecati voluptate
                    asperiores dolore ullam officia velit obcaecati voluptate!</p>
                <p class="me-paragraph-css">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis saepe quibusdam, perspiciatis provident nisi atque</p>
            </div>
        </div>
    </figure>