/* Mis propiedades modificadas */

#name-nav {
    font-size: 1.5em;
}

.nav-css {
    font-size: 1em;
    font-weight: lighter;
    margin-top: 0px;
}


/* desktop */

@media (min-width: 768px) {
    #name-nav {
        font-size: 2.5em;
    }
    .nav-css {
        font-size: 1.2em;
        font-weight: lighter;
        margin-top: 0px;
    }
}